extends layout

block content
  .wrapper
    .box.a
      h1= question
    .box.a1
      p= answer1
        br
        span#procent1 0
        |  %
    .box.a2
      p= answer2
        br
        span#procent2 0
        |  %